
.communication {
  width: 730px;
  margin: 0 auto;
  padding-top: 12px
}

.communication__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px
}

.communication__internal-use {
  font-family: Open sans, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #75787b;
  margin: 0;
  padding: 0
}

.communication__dismiss-container {
  display: flex
}

.communication__dismiss-image {
  margin-right: 14px;
  width: 24px;
  position: relative;
  top: -5px
}

.communication__dismiss-text {
  font-family: Open sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #75787b;
  margin: 0;
  padding: 0
}

.communication__hr {
  border: 0;
  border-bottom: 1px solid #97999b
}

.communication__title {
  font-family: Open sans, sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #000;
  margin-bottom: 0;
  margin-top: 0
}

.communication__sub-title {
  margin-top: 0;
  font-family: Open sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #75787b
}

.communication__attachment-tag {
  height: 30px;
  display: flex;
  align-items: center
}

.communication-attachment-text {
  font-family: Open sans, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #53565a;
  margin-left: 10px
}

.communication__image {
  width: 730px;
  margin: 10px 0 0
}

.communication__image-caption,
.communication__secondary-image-caption {
  font-family: Open sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #75787b;
  margin: 10px 0
}

.communication__secondary-image-caption {
  width: 540px;
  margin: 10px auto
}

.communication__secondary-image-container {
  margin: 50px auto;
  text-align: center;
  width: 540px;
}

.communication__author-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 0
}

.communication__author-bar__left {
  display: flex;
  align-items: center
}

.communication__author {
  margin-left: 15px;
  font-weight: 800;
  font-weight: 17px
}

.communication__author-sign {
  font-weight: 800;
  font-weight: 18px
}

.communication_time-stamp__date,
.communication_time-stamp__time {
  font-size: 14px;
  font-weight: 400px;
  color: #000;
  padding: 0;
  margin: 0
}

.communication_time-stamp__date {
  margin-right: 10px;
}

.communication_time-stamp__time {
  margin-left: 15px;
}

.communication__time-stamp {
  margin-top: 28px;
  position: relative
}

.communication__body {
  font-family: Open sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 24px
}

.communication__button {
  background: #86bc25;
  border-radius: 2px;
  border: 0;
  color: #fff;
  font-family: Open sans, sans-serif;
  font-size: 14px;
  font-weight: 800;
  outline: 0;
  padding: 10px 110px;
}

.communication__action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px
}

.communication__action-bar-right {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #97999b
}

.communication__likes {
  height: 37px;
  border-right: 1px solid #97999b;
  margin-right: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center
}

.communication__action-bar-right-icon {
  margin-right: 10px
}

.communication__section-title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  font-family: Open sans, sans-serif
}

.communication__section-sub-title {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  font-family: Open sans, sans-serif
}

.communication__attachments__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap
}

.communication__attachments__list-item {
  display: flex;
  flex: 1 0 21%;
  flex-direction: column;
  margin-bottom: 30px;
  max-width: 120px
}

.communication__attachments-list-name {
  font-size: 12px;
  text-align: center
}

.communication__contact-bar {
  display: flex
}

.communication__article-contact {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-left: 15px
}

.communication__categories {
  list-style: none;
  padding: 0
}

.communication__category-item {
  color: #86bc25;
  border: 1px solid #86bc25;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
  margin-left: 5px;
}

.communication__about-footer-title {
  font-size: 10px;
  font-weight: 600;
  color: #53565a;
  margin-bottom: 0
}

.communication__about-footer {
  margin-top: 0;
  font-size: 10px;
  font-weight: 300;
  color: #53565a;
  margin-bottom: 30px
}