<template>
    <ui-card title="Hello">
        <div>
            Hello RPbjhbjhb, {greeting}!
        </div>

        <recipe-view-source source="recipe/hello" slot="footer">
            Bind an HTML element to a component property.
        </recipe-view-source>
    </ui-card>
</template>
